<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Dead Albums</h3>
    </div>
  <div class="row">

    <div class="songtable col-md-6 col-md-offset-3">
      <table>
          <thead>
            <th>
              Album Name
            </th>
            <th>
              Songs
            </th>
            <th>
              release date
            </th>
            <th>
              album cover
              </th>
            <tbody>
            
            </tbody>
        </thead>
      </table>
    </div>

  </div>

  </div>
</div>
